
body{
    background:#1F2937;
    color: #ffffff;
    margin: auto;
    padding: 25px;
    text-decoration: solid white;
}

#new{
    position: relative;
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: 600;
  background: #1a1a1a;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 1;
  border-radius: 12px;
  overflow: hidden;
}

#new::before{
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(270deg, #00ffff, #0077ff, #ff00cc, #00ffff);
  background-size: 600% 600%;
  border-radius: 14px;
  z-index: -1;
  animation: borderGlow 4s ease infinite;
}
#new::after{
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background: #1a1a1a; 
  border-radius: 10px;
  z-index: -1;
}

@keyframes borderGlow {
    0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;}
}

#pic1{
    display: inline-block;
    border: 2px solid black ;
    border-radius: 20vh;
    height: 40vh;
    box-shadow: 0px 5px 5px;
}

.fb{
    display: inline-flex;
    background-color: #0825c7;
    width: 60px;
    height: 60px;
    border: 2px solid blue;
    border-radius: 35px;
    h2{
        padding: 5px;
        display: none;
    }
}

.fb:hover{
    transform: scale(1.1);
    background-color: #2f45c5;
    transition: 0.5s;
    h2{
        display: block;
        background-color:#2f45c5 ;
        color: #ffffff7a;
        border-radius: 15px;
        transition: 2s;
    }
}

.YT{
    display: inline-flex;
    background-color: #d83068;
    width: 60px;
    height: 60px;
    border: 2px solid blue;
    border-radius: 35px;
    h2{
        padding: 5px;
        display: none;
    }
}
.YT:hover{
    transform: scale(1.1);
    background-color: #2f45c5;
    transition: 0.5s;
    h2{
        display: block;
        background-color:#2f45c5 ;
        color: #ffffff7a;
        border-radius: 15px;
        transition: 2s;
    }
}

.container{
    display: flexbox;
    justify-items: center;
    h1{
        text-decoration: solid underline;
    }
    h2{
        text-align: center;
    }
}

list{
    text-align: center;
}
.foot{
    display: flex;
    justify-content: space-evenly;
}
.f1{
    justify-self: baseline;
}
#popup{
    background-color: transparent;
    color: whitesmoke;
    border-radius: 8px;
    padding: 10px 20px 10px 20px;
    border-color: linear-gradient(270deg, red, blue, green,);
}

#pop{
    display: none;
    position: absolute; top: 20px;
    background-color: aliceblue; 
    
}

#closepopup{
    position:absolute;
    right: 15px;
    font-size: 35px;
    color: black;
    cursor: pointer;
}